<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="andbook.example.smishing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- VIBREATE로 알람 진동 추가 -->


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:icon="@drawable/main"
        android:label="Smishing Detection"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 아이콘 변경 Main Icon -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:exported="false"/>

        <receiver
            android:name="service_utill.SMSReceiverService"
            android:enabled="true">
            <intent-filter android:priority="999999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 브로드 캐스트 리시버는 exported = false 미적용, 적용 시, 외부 문자 입력을 파싱할 수없음-->

        <service
            android:name="service_utill.BackgroundService"
            android:enabled="true"
            android:exported="false">
        </service> <!-- 백그라운드 -->
    </application>

</manifest>